@charset "utf-8";
header {
    /*background: rgb(0,123,255);
    background: linear-gradient(30deg, rgba(0,123,255,1) 0%, rgba(40,230,69,1) 100%);*/
    padding: 2px 12px;
    margin-bottom: 5px;
}
.menu-nav {
    padding: 0;
}
.menu-nav .nav-item:hover {
    background-color: #6c757d;    
    text-align: center;
}
.banner2 span {
    color: white;
    font-size: 20px;
}
.social-network {  
    height: inherit;     
    color: #fff;   
}
.social-network section {
    margin-top: 50%;
}
.social-network a:hover {
    color: #007bff;
}
footer {
    padding-bottom: 15px;
}
footer .container > .row {
    padding: 10px 0 5px;
}
#whats-link:hover {
    color: #28a745;
}
.partner-images img {
    width: 50%;
}
.logo img {
    height: 160px; 
    background-color:#fff;
    border-radius: 6px;
    max-width: 70%;
}
#bt-logo {
    width: 300px;
}
@media (max-width: 480px) {
    .logo {
        width: 80%;
    }
    #resource-menu a {
        display: inline-block;
        margin-top: 2px;
        text-align: center;
    }
}